In [3]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cape Town,ZA,2021-12-22 04:47:33,-33.9258,18.4232,70.27,82,20,4.61
1,1,Quibdo,CO,2021-12-22 04:47:33,5.6947,-76.6611,72.00,99,100,0.34
2,2,Tasiilaq,GL,2021-12-22 04:47:33,65.6145,-37.6368,35.76,49,33,6.71
3,3,Port Elizabeth,ZA,2021-12-22 04:45:56,-33.9180,25.5701,66.09,100,40,12.66
4,4,Provideniya,RU,2021-12-22 04:47:34,64.3833,-173.3000,8.71,78,90,20.13

In [5]:
# onfirm the data types for the data columns are integers 
# or floating-point decimal numbers.
# Get the data types 
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
## Create a Maximum Temperature Heatmap

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Create the heatmap for the maximum temperature

# 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
# fig

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
# locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
# fig = gmaps.figure()
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
# fig.add_layer(heat_layer)
# Call the figure to plot the data.
# fig

# OUTPUT:
# InvalidWeightException: -7.6 is not a valid weight. Weights must be non-negative.

In [13]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [14]:
# Create the heatmap for the maximum temperature

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Replace temps with our code for the list comprehension within the heatmap_layer() function
# Create the heatmap for the maximum temperature

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
## Adjust Heatmap Zoom, Intensity, and Point Radius
# 1. Add the geographic center of Earth in the form of latitude and longitude (30.0° N and 31.0° E)
# 2. Add a zoom level so that only one map of Earth is shown

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable. (#1, #2)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
## Adjust Heatmap Zoom, Intensity, and Point Radius
# There is a dissipation option for creating heatmaps that can be added to the gmaps.heat_layer():
# 1. The default option for the dissipation is "True," so we need to set our "dissipation" to "False."
# 2. We can add max_intensity to make each measurement have a better gradient variance.
# 3. We can add point_radius to make each measurement radius larger.

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable. (#1, #2)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
## Create a Percent Humidity Heatmap
# - reuse the code and use the humidity values for the measurements

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, 
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
## Create a Percent Cloudiness Heatmap
# - reuse the code and use the cloudiness values for the measurements

# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, 
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
## Create a Wind Speed Heatmap
# - edit previous code with the line wind = city_data_df["Wind Speed"] so that the 
#   wind speed replaces the percent cloudiness, and set the variable weights=wind

# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, 
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
## Get Vacation Criteria
# - need to prompt the user to enter the minimum and maximum temperature ranges 
#   as floating-point decimal numbers to filter the city_data_df DataFrame

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [28]:
# - Filter the maximum temperature column in the city_data_df DataFrame using logical operators 
#   to create a new DataFrame with the cities that meet the customer's criteria

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Rikitea,PF,2021-12-22 04:47:35,-23.1203,-134.9692,76.51,79,100,13.51
8,8,Bengkulu,ID,2021-12-22 04:47:35,-3.8004,102.2655,84.24,67,7,8.48
23,23,Busselton,AU,2021-12-22 04:47:40,-33.6500,115.3333,83.98,40,0,10.71
27,27,Mananjary,MG,2021-12-22 04:47:41,-21.2167,48.3333,76.08,95,99,6.55
31,31,Carnarvon,AU,2021-12-22 04:47:43,-24.8667,113.6333,78.87,57,3,17.27
36,36,Iracoubo,GF,2021-12-22 04:47:44,5.4802,-53.2011,77.47,92,88,12.37
39,39,Hithadhoo,MV,2021-12-22 04:47:45,-0.6000,73.0833,81.75,69,37,0.72
52,52,Basay,PH,2021-12-22 04:48:49,9.4087,122.6400,85.44,64,95,5.95
53,53,Sinnamary,GF,2021-12-22 04:48:50,5.3833,-52.9500,77.85,91,97,12.88
55,55,Butaritari,KI,2021-12-22 04:48:51,3.0707,172.7902,82.02,66,100,2.33

In [29]:
# To determine if there are any null values for the rows in the preferred_cities_df DataFrame
preferred_cities_df.count()

# OR preferred_cities_df.isnull().sum()
# OR preferred_cities_df.notnull().sum()

City_ID       115
City          115
Country       115
Date          115
Lat           115
Lng           115
Max Temp      115
Humidity      115
Cloudiness    115
Wind Speed    115
dtype: int64

In [30]:
## Map Vacation Criteria
# Get Travel Destinations
# - To create a new DataFrame specifically for the data needed to create a heatmap and pop-up markers.

# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
7      Rikitea      PF     76.51 -23.1203 -134.9692
8     Bengkulu      ID     84.24  -3.8004  102.2655
23   Busselton      AU     83.98 -33.6500  115.3333
27   Mananjary      MG     76.08 -21.2167   48.3333
31   Carnarvon      AU     78.87 -24.8667  113.6333
36    Iracoubo      GF     77.47   5.4802  -53.2011
39   Hithadhoo      MV     81.75  -0.6000   73.0833
52       Basay      PH     85.44   9.4087  122.6400
53   Sinnamary      GF     77.85   5.3833  -52.9500
55  Butaritari      KI     82.02   3.0707  172.7902

In [31]:
# Retrieve Hotels from a Nearby Search
# - Set the Parameters for a Nearby Search
#     - add the parameters as key-value pairs
#     - add the params dictionary, API key, type, and radius parameters 

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [37]:
## Iterate Through hotel_df DataFrame
# - Use the iterrows() function to perform the iteration but
# to provide the index and the row in the for loop using: for index, row in df.iterrows()

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [36]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Rikitea,PF,76.51,-23.1203,-134.9692,People ThankYou
8,Bengkulu,ID,84.24,-3.8004,102.2655,Grage Hotel Bengkulu
23,Busselton,AU,83.98,-33.6500,115.3333,Observatory Guest House
27,Mananjary,MG,76.08,-21.2167,48.3333,Vahiny Lodge
31,Carnarvon,AU,78.87,-24.8667,113.6333,Hospitality Carnarvon
36,Iracoubo,GF,77.47,5.4802,-53.2011,Le Gîte d’Iracoubo
39,Hithadhoo,MV,81.75,-0.6000,73.0833,Scoop Guest House
52,Basay,PH,85.44,9.4087,122.6400,Nikka's Place (Basay Transient Rooms)
53,Sinnamary,GF,77.85,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
55,Butaritari,KI,82.02,3.0707,172.7902,Isles Sunset Lodge

In [38]:
## Create a Maximum Temperature Heatmap from a Hotel DataFrame
# - reusing the code and changing the DataFrame name

# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Add the markers for each city on top of the heatmap
# - Edit the previous code we used to create the heatmap 

# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Add a pop-up marker for each city that displays: 
# - the hotel name, city name, country, and maximum temperature.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [41]:
# Add the data to the code by iterating through the hotel_df DataFrame using the iterrows() function

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [42]:
# Using the previous code, create the heatmap with markers
# add info_box_content=hotel_info to the gmaps.marker_layer() attribute with the locations

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))