### Create Latitude and Longitude Combinations

In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Generate latitudes and longitudes
# 1. They need to be stored so that we can access them later
# 2. Since we are creating arrays of latitudes and longitudes, we'll declare each array as a variable.

# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)
lat_lngs

In [3]:
# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [4]:
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy

In [5]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

641

In [6]:
# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

In [7]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=23aec2552afbe7fd1966c6be5c058d26

1. Import our dependencies and initialize counters and an empty list that will hold the weather data.

In [10]:
# Import the time library and the datetime module from the datetime library 
import time
from datetime import datetime

In [13]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

Beginning Data Retrieval
-----------------------------

2. Loop Through the List of Cities and Build the City URL

In [25]:
# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    
# Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Processing Record 1 of Set 7 | lewistown
Processing Record 2 of Set 7 | ponta do sol
Processing Record 3 of Set 7 | lebu
Processing Record 4 of Set 7 | puerto ayora
Processing Record 5 of Set 7 | merauke
Processing Record 6 of Set 7 | los llanos de aridane
Processing Record 7 of Set 7 | hihifo
City not found. Skipping...
Processing Record 8 of Set 7 | whitehorse
Processing Record 9 of Set 7 | rikitea
Processing Record 10 of Set 7 | lasa
Processing Record 11 of Set 7 | east london
Processing Record 12 of Set 7 | lavrentiya
Processing Record 13 of Set 7 | amderma
City not found. Skipping...
Processing Record 14 of Set 7 | cape town
Processing Record 15 of Set 7 | yellowknife
Processing Record 16 of Set 7 | guerrero negro
Processing Record 17 of Set 7 | punta arenas
Processing Record 18 of Set 7 | yining
Processing Record 19 of Set 7 | hithadhoo
Processing Record 20 of Set 7 | manzhouli
Processing Record 21 of Set 7 | salamanca
Processing Record 22 of Set 7 | tabuk
Processing Record 23 of Set 7 | new norfolk
Processing Record 24 of Set 7 | bonga
Processing Record 25 of Set 7 | qaanaaq
Processing Record 26 of Set 7 | albany
Processing Record 27 of Set 7 | chimore
Processing Record 28 of Set 7 | barentsburg
City not found. Skipping...
Processing Record 29 of Set 7 | ushuaia
Processing Record 30 of Set 7 | nizhneyansk
City not found. Skipping...
Processing Record 31 of Set 7 | belushya guba
City not found. Skipping...
Processing Record 32 of Set 7 | avarua
Processing Record 33 of Set 7 | vaini
Processing Record 34 of Set 7 | berlevag
Processing Record 35 of Set 7 | charleston
Processing Record 36 of Set 7 | pangnirtung
Processing Record 37 of Set 7 | hobart
Processing Record 38 of Set 7 | illoqqortoormiut
City not found. Skipping...
Processing Record 39 of Set 7 | khatanga
Processing Record 40 of Set 7 | belyy yar
Processing Record 41 of Set 7 | praia
Processing Record 42 of Set 7 | taolanaro
City not found. Skipping...
Processing Record 43 of Set 7 | beeville
Processing Record 44 of Set 7 | kota belud
Processing Record 45 of Set 7 | adrar
Processing Record 46 of Set 7 | sembakung
Processing Record 47 of Set 7 | klaksvik
Processing Record 48 of Set 7 | mudgee
Processing Record 49 of Set 7 | victoria
Processing Record 50 of Set 7 | longyearbyen

KeyboardInterrupt:

In [26]:
# Tally the number of cities in the city_data array of dictionaries using the len() function
city_data_len = len(city_data)
city_data_len

307

In [29]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Lewistown,40.5992,-77.5714,31.24,100,1,0.00,US,2021-12-21 06:45:58
1,Ponta Do Sol,32.6667,-17.1000,64.71,83,15,13.06,PT,2021-12-21 06:45:58
2,Lebu,-37.6167,-73.6500,53.37,86,0,18.12,CL,2021-12-21 06:45:59
3,Puerto Ayora,-0.7393,-90.3518,69.55,95,64,1.01,EC,2021-12-21 06:45:59
4,Merauke,-8.4667,140.3333,84.94,67,100,8.34,ID,2021-12-21 06:45:59
5,Los Llanos De Aridane,28.6585,-17.9182,64.15,98,75,11.99,ES,2021-12-21 06:46:00
6,Whitehorse,60.7161,-135.0538,7.57,85,90,5.75,CA,2021-12-21 06:45:06
7,Rikitea,-23.1203,-134.9692,76.64,83,33,16.08,PF,2021-12-21 06:46:00
8,Lasa,46.6166,10.7002,31.46,40,4,2.06,IT,2021-12-21 06:46:00
9,East London,-33.0153,27.9116,74.34,78,0,11.50,ZA,2021-12-21 06:46:01

In [39]:
# To reorder the columns, assign a variable to an array of the columns in the order we want them to appear
new_column_order = ["City", "Country", "Date", "Lat", "Lng", "Max Temp", 
                    "Humidity", "Cloudiness", "Wind Speed"]
# Assign a new or the same DataFrame with new column order:
city_data_df = city_data_df[new_column_order]
city_data_df

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Lewistown,US,2021-12-21 06:45:58,40.5992,-77.5714,31.24,100,1,0.00
1,Ponta Do Sol,PT,2021-12-21 06:45:58,32.6667,-17.1000,64.71,83,15,13.06
2,Lebu,CL,2021-12-21 06:45:59,-37.6167,-73.6500,53.37,86,0,18.12
3,Puerto Ayora,EC,2021-12-21 06:45:59,-0.7393,-90.3518,69.55,95,64,1.01
4,Merauke,ID,2021-12-21 06:45:59,-8.4667,140.3333,84.94,67,100,8.34
...,...,...,...,...,...,...,...,...,...
302,Sembakung,ID,2021-12-21 06:46:09,3.8167,117.2500,85.93,66,100,3.76
303,Klaksvik,FO,2021-12-21 06:46:10,62.2266,-6.5890,40.12,88,100,14.23
304,Mudgee,AU,2021-12-21 06:46:10,-32.5943,149.5871,91.45,35,3,13.80
305,Victoria,HK,2021-12-21 06:46:10,22.2855,114.1577,66.33,88,100,1.01
306,Longyearbyen,SJ,2021-12-21 06:46:11,78.2186,15.6401,15.64,79,75,14.97

In [40]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")